/* Base */
/* Flexbox */
/* Axis Alignment */
html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-wrap: break-word; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol, menu {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: none;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

a img, map a {
  border: none; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none; }

embed {
  width: 100%; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

.bg-blue {
  background-color: #2196f3; }

.bg-red {
  background-color: #f44336; }

.bg-orange {
  background-color: #ff9800; }

.bg-yellow {
  background-color: #ffeb3b; }

.bg-green {
  background-color: #4caf50; }

.bg-pink {
  background-color: #e91e63; }

.bg-purple {
  background-color: #9c27b0; }

.bg-black {
  background-color: #000; }

.bg-light-blue {
  background-color: #51adf6; }

.bg-light-red {
  background-color: #f77066; }

.bg-light-orange {
  background-color: #ffad33; }

.bg-light-yellow {
  background-color: #fff06e; }

.bg-light-green {
  background-color: #6ec071; }

.bg-light-pink {
  background-color: #ee4c83; }

.bg-light-purple {
  background-color: #bc37d3; }

.bg-light-black {
  background-color: #1a1a1a; }

.bg-light-blue-xl {
  background-color: #e3f2fd; }

.bg-light-red-xl {
  background-color: #fff8f7; }

.bg-light-orange-xl {
  background-color: #ffeacc; }

.bg-light-yellow-xl {
  background-color: #fffcde; }

.bg-light-green-xl {
  background-color: #d9eeda; }

.bg-light-pink-xl {
  background-color: #fbd8e4; }

.bg-light-purple-xl {
  background-color: #edc9f3; }

.bg-light-black-xl {
  background-color: #666666; }

.bdr-white {
  border-color: #fff; }

.bdr-blue {
  border-color: #2196f3; }

.bdr-red {
  border-color: #f44336; }

.bdr-green {
  border-color: #4caf50; }

.bdr-yellow {
  border-color: #ffeb3b; }

.bdr-orange {
  border-color: #ff9800; }

.bdr-pink {
  border-color: #e91e63; }

.bdr-purple {
  border-color: #9c27b0; }

.bdr-black {
  border-color: #000; }

.bdr-white-l {
  border-color: white; }

.bdr-blue-l {
  border-color: #51adf6; }

.bdr-red-l {
  border-color: #f77066; }

.bdr-green-l {
  border-color: #6ec071; }

.bdr-yellow-l {
  border-color: #fff06e; }

.bdr-orange-l {
  border-color: #ffad33; }

.bdr-pink-l {
  border-color: #ee4c83; }

.bdr-purple-l {
  border-color: #bc37d3; }

.bdr-black-l {
  border-color: #1a1a1a; }

.align-l {
  text-align: left; }

.align-c {
  text-align: center; }

.align-r {
  text-align: right; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

hr {
  background-color: #ddd;
  border: none;
  clear: both;
  display: block;
  height: 1px;
  margin-bottom: 30px;
  box-sizing: content-box; }
  hr.opacity-divide {
    background-color: inherit;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), transparent); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: #1a5eba; }
  a:hover {
    color: #5392e7;
    transition: 0.3s color; }

p {
  margin-bottom: 20px; }

body {
  color: #222317;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  min-width: 320px; }

#layout {
  background-color: #fafafa; }

/* Layout */
.row, .block-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .row.row-right, .row-right.block-list {
    justify-content: flex-end; }
  .row.row-center, .row-center.block-list {
    justify-content: center; }
  .row.row-spacing, .row-spacing.block-list, .row.row-spacing-2, .row-spacing-2.block-list {
    justify-content: space-between; }

.col-1 {
  width: 100%; }

.row-spacing .col-1 {
  width: calc( 100% - 10px); }

.row-spacing-2 .col-1 {
  width: calc( 100% - 20px); }

.col-2 {
  width: 50%; }

.row-spacing .col-2 {
  width: calc( 50% - 10px); }

.row-spacing-2 .col-2 {
  width: calc( 50% - 20px); }

.col-3 {
  width: 33.33333%; }

.row-spacing .col-3 {
  width: calc( 33.33333% - 10px); }

.row-spacing-2 .col-3 {
  width: calc( 33.33333% - 20px); }

.col-4 {
  width: 25%; }

.row-spacing .col-4 {
  width: calc( 25% - 10px); }

.row-spacing-2 .col-4 {
  width: calc( 25% - 20px); }

.col-5 {
  width: 20%; }

.row-spacing .col-5 {
  width: calc( 20% - 10px); }

.row-spacing-2 .col-5 {
  width: calc( 20% - 20px); }

.col-6 {
  width: 16.66667%; }

.row-spacing .col-6 {
  width: calc( 16.66667% - 10px); }

.row-spacing-2 .col-6 {
  width: calc( 16.66667% - 20px); }

.col-7 {
  width: 14.28571%; }

.row-spacing .col-7 {
  width: calc( 14.28571% - 10px); }

.row-spacing-2 .col-7 {
  width: calc( 14.28571% - 20px); }

.col-8 {
  width: 12.5%; }

.row-spacing .col-8 {
  width: calc( 12.5% - 10px); }

.row-spacing-2 .col-8 {
  width: calc( 12.5% - 20px); }

.col-9 {
  width: 11.11111%; }

.row-spacing .col-9 {
  width: calc( 11.11111% - 10px); }

.row-spacing-2 .col-9 {
  width: calc( 11.11111% - 20px); }

.col-10 {
  width: 10%; }

.row-spacing .col-10 {
  width: calc( 10% - 10px); }

.row-spacing-2 .col-10 {
  width: calc( 10% - 20px); }

.col-11 {
  width: 9.09091%; }

.row-spacing .col-11 {
  width: calc( 9.09091% - 10px); }

.row-spacing-2 .col-11 {
  width: calc( 9.09091% - 20px); }

.col-12 {
  width: 8.33333%; }

.row-spacing .col-12 {
  width: calc( 8.33333% - 10px); }

.row-spacing-2 .col-12 {
  width: calc( 8.33333% - 20px); }

@media only screen and (max-width: 768px) {
  .col-md-1 {
    width: 100%; }
  .row-spacing .col-md-1 {
    width: calc( 100% - 10px); }
  .row-spacing-2 .col-md-1 {
    width: calc( 100% - 20px); }
  .col-md-2 {
    width: 50%; }
  .row-spacing .col-md-2 {
    width: calc( 50% - 10px); }
  .row-spacing-2 .col-md-2 {
    width: calc( 50% - 20px); }
  .col-md-3 {
    width: 33.33333%; }
  .row-spacing .col-md-3 {
    width: calc( 33.33333% - 10px); }
  .row-spacing-2 .col-md-3 {
    width: calc( 33.33333% - 20px); } }

@media only screen and (max-width: 480px) {
  .col-xs-1 {
    width: 100%; }
  .row-spacing .col-xs-1 {
    width: calc( 100% - 10px); }
  .row-spacing-2 .col-xs-1 {
    width: calc( 100% - 20px); }
  .col-xs-2 {
    width: 50%; }
  .row-spacing .col-xs-2 {
    width: calc( 50% - 10px); }
  .row-spacing-2 .col-xs-2 {
    width: calc( 50% - 20px); } }

@media only screen and (max-width: 400px) {
  .col-lg {
    width: 100%; }
  .row-spacing .col-lg {
    width: 100%; }
  .row-spacing-2 .col-lg {
    width: 100%; } }

header {
  background: -webkit-linear-gradient(70deg, #ff7ee3 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #fffb76 60%, #bcf5d5 60%);
  background: -o-linear-gradient(70deg, #ff7ee3 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, #fffb76 60%, #bcf5d5 60%);
  background: -moz-linear-gradient(70deg, #ff7ee3 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, #fffb76 60%, #bcf5d5 60%);
  background: linear-gradient(70deg, #ff7ee3 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #fffb76 60%, #bcf5d5 60%);
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  padding: 0 20px;
  position: relative; }
  header h1 {
    color: #ae74fb;
    font-size: 45px;
    font-weight: 400;
    position: absolute;
    text-shadow: #333 0 1px 2px;
    top: 22px;
    transition: 0.3s all ease-out; }
    header h1:hover {
      top: 0;
      text-shadow: #333 0 8px 6px; }
    header h1 a {
      color: #fff; }
      header h1 a:hover {
        color: #fff; }
    header h1 span, header h1 #sidebar .menu span:before, #sidebar .menu header h1 span:before {
      display: inline-block;
      font-size: 75px; }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1180px;
  padding: 0 20px;
  width: 100%; }

#content {
  min-height: 400px;
  max-width: 910px;
  width: calc(75% - 20px); }
  @media only screen and (max-width: 1024px) {
    #content {
      margin: 0 auto;
      width: 100%; } }

.block, .box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px -5px rgba(62, 57, 107, 0.07);
  margin-bottom: 50px;
  padding: 30px; }
  .block .inner, .box .inner {
    margin-bottom: 40px; }
    .block .inner:last-child, .box .inner:last-child {
      margin-bottom: 0; }
    .block .inner .row, .box .inner .row, .block .inner .block-list, .box .inner .block-list {
      margin-bottom: 20px; }
      .block .inner .row:last-child, .box .inner .row:last-child, .block .inner .block-list:last-child, .box .inner .block-list:last-child {
        margin-bottom: 0; }

#sidebar {
  max-width: 250px;
  width: 25%; }
  #sidebar .menu {
    height: 65px;
    display: none;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 53px; }
    #sidebar .menu span, #sidebar .menu span:before {
      background-color: #666;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      left: 5px;
      top: 35px;
      transition: 0.3s all ease-out;
      width: 40px; }
    #sidebar .menu span:before {
      position: absolute;
      left: 0;
      top: 10px; }
    #sidebar .menu:hover span, #sidebar .menu:hover span:before {
      position: absolute;
      left: 6px;
      top: 44px;
      transform: rotate3d(0, 0, 1, 42deg); }
    #sidebar .menu:hover span:before {
      position: absolute;
      left: 0;
      top: 1px;
      transform: rotate3d(0, 0, 1, -85deg); }
    @media only screen and (max-width: 1024px) {
      #sidebar .menu {
        display: block; } }
  @media only screen and (max-width: 1024px) {
    #sidebar {
      position: absolute;
      right: 20px;
      top: 5px;
      right: 20px;
      position: absolute;
      top: 5px;
      z-index: 100;
      transition: 0.3s all ease-out; }
      #sidebar #aside-content {
        display: none;
        transition: 0.3s all ease-out; }
      #sidebar:hover #aside-content {
        display: block;
        position: absolute;
        left: 0;
        top: 60px; } }
  @media only screen and (max-width: 768px) {
    #sidebar {
      max-width: 100%;
      width: 50%; }
      #sidebar #aside-content {
        width: 100%; } }
  @media only screen and (max-width: 480px) {
    #sidebar {
      width: 100%; }
      #sidebar #aside-content {
        left: auto !important;
        position: absolute;
        right: 0;
        width: 90%; } }

footer {
  background-color: #e3f2fd;
  font-size: 13px;
  height: 80px;
  line-height: 80px;
  text-align: center; }

/* Component */
h2 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase; }
  h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 4px;
    width: 70px;
    height: 3px;
    background-color: #16b1ec; }

h3 {
  font-size: 25px;
  line-height: 1.4;
  margin-bottom: 15px; }

h4 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px; }

.box {
  border-bottom-width: 3px;
  border-bottom-style: solid; }
  .box .inner {
    margin-bottom: 20px; }
    .box .inner:last-child {
      margin-bottom: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #e1ecf9;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  outline: none;
  transition: 0.3s all ease-out;
  vertical-align: middle;
  width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  height: 15px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 15px; }

select {
  color: #5e613f; }

::placeholder {
  color: #5e613f;
  opacity: 1; }

textarea {
  padding-top: 10px; }

.form-style > div {
  margin-bottom: 20px; }

.bdr-style input[type="text"],
.bdr-style input[type="email"],
.bdr-style input[type="tel"],
.bdr-style select,
.bdr-style textarea {
  border: 1px solid #e1ecf9;
  padding-left: 10px; }

button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out; }

.btn-group > div {
  margin-bottom: 10px; }

.btn, .btn-lg, .btn-icon {
  border-radius: 4px;
  color: #FFF;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center; }
  .btn:hover, .btn-lg:hover, .btn-icon:hover {
    opacity: 0.7; }

.btn-lg {
  font-size: 18px;
  height: auto;
  padding: 10px 20px;
  width: 100%; }

a.btn, a.btn-lg, a.btn-icon {
  display: inline-block;
  vertical-align: top;
  transition: 0.3s all ease-out; }
  a.btn:hover, a.btn-lg:hover, a.btn-icon:hover {
    color: #fff; }

.btn-icon {
  display: inline-block;
  padding: 0;
  text-align: center;
  line-height: normal;
  height: 30px;
  width: 30px; }
  .btn-icon.x20 {
    font-size: 11px;
    height: 20px;
    width: 20px; }
  .btn-icon.x40 {
    font-size: 18px;
    height: 40px;
    width: 40px; }
  .btn-icon.x50 {
    font-size: 25px;
    height: 50px;
    width: 50px; }

.item-list {
  list-style-type: disc;
  padding-left: 20px; }
  .item-list ul {
    list-style-type: circle;
    padding-left: 20px; }

.link-list li {
  margin-bottom: 5px; }

.box-list {
  display: flex;
  margin-top: 10px; }

.box-list li {
  background-color: #fffcde;
  font-size: 18px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 287.5px; }
  .box-list li:last-child {
    margin-bottom: 0; }

.box-list li:last-child {
  margin-right: 0; }

.block-list li {
  margin-bottom: 30px; }
  .block-list li:last-child {
    margin-bottom: 0; }

.pagination {
  width: 100%; }
  .pagination ul li {
    display: inline-block;
    margin-left: 3px; }
    .pagination ul li > a,
    .pagination ul li > span,
    .pagination ul #sidebar .menu li > span:before,
    #sidebar .menu .pagination ul li > span:before {
      cursor: pointer;
      padding: 7px 12px; }
    .pagination ul li > a:hover,
    .pagination ul li.active > a,
    .pagination ul li.active > a:hover,
    .pagination ul li.active > span,
    .pagination ul #sidebar .menu li.active > span:before,
    #sidebar .menu .pagination ul li.active > span:before,
    .pagination ul li.active > span:hover,
    .pagination ul #sidebar .menu li.active > span:hover:before,
    #sidebar .menu .pagination ul li.active > span:hover:before {
      z-index: 3;
      color: #fff;
      background-color: #51adf6;
      border-color: #51adf6; }

.table-style, .table-style-border {
  width: 100%; }
  .table-style table, .table-style-border table {
    width: 100%; }
    .table-style table th, .table-style-border table th, .table-style table td, .table-style-border table td {
      padding: 8px 10px;
      vertical-align: top;
      word-wrap: break-word; }
    .table-style table td, .table-style-border table td {
      border-bottom: 1px solid #e1ecf9; }
    .table-style table th, .table-style-border table th {
      background-color: #e3f2fd;
      color: #206ea2; }
    .table-style table tr:first-child td, .table-style-border table tr:first-child td, .table-style table tr:first-child th, .table-style-border table tr:first-child th {
      border-top: 1px solid #e1ecf9; }
    .table-style table.ver-style th, .table-style-border table.ver-style th {
      background: none;
      border-bottom: 1px solid #e1ecf9; }
    @media only screen and (max-width: 1024px) {
      .table-style table, .table-style-border table {
        width: 850px; } }
  @media only screen and (max-width: 1024px) {
    .table-style, .table-style-border {
      overflow-x: auto; } }

.table-style-border table th, .table-style-border table td {
  border: 1px solid #e1ecf9; }

.table-style-border table.ver-style th {
  background-color: #e3f2fd; }

/*.Page specific styles */
