/* Base */
/* Flexbox */
/* Axis Alignment */
html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-wrap: break-word; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol, menu {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: none;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

a img, map a {
  border: none; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none; }

embed {
  width: 100%; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: #1a5eba; }
  a:hover {
    color: #5392e7;
    transition: 0.3s color; }

p {
  margin-bottom: 20px; }

body {
  color: #222317;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  min-width: 320px; }

#layout {
  background-color: #fafafa; }

.align-l {
  text-align: left; }

.align-c {
  text-align: center; }

.align-r {
  text-align: right; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/* Layout */
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .row.row-right {
    justify-content: flex-end; }
  .row.row-center {
    justify-content: center; }
  .row.row-spacing {
    justify-content: space-between; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.row-spacing .col-1 {
  width: calc( 8.33333% - 10px); }

.row-spacing .col-2 {
  width: calc( 16.66667% - 10px); }

.row-spacing .col-3 {
  width: calc( 25% - 10px); }

.row-spacing .col-4 {
  width: calc( 33.33333% - 10px); }

.row-spacing .col-5 {
  width: calc( 41.66667% - 10px); }

.row-spacing .col-6 {
  width: calc( 50% - 10px); }

.row-spacing .col-7 {
  width: calc( 58.33333% - 10px); }

.row-spacing .col-8 {
  width: calc( 66.66667% - 10px); }

.row-spacing .col-9 {
  width: calc( 75% - 10px); }

.row-spacing .col-10 {
  width: calc( 83.33333% - 10px); }

.row-spacing .col-11 {
  width: calc( 91.66667% - 10px); }

.row-spacing .col-12 {
  width: calc( 100% - 10px); }

@media only screen and (max-width: 768px) {
  .col-md-1 {
    width: 33.33333%; }
  .col-md-2 {
    width: 66.66667%; }
  .col-md-3 {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .col-xs-1 {
    width: 50%; }
  .col-xs-2 {
    width: 100%; } }

header {
  background-color: #e3f2fd;
  border-bottom: 1px solid #cae6fc;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  text-align: center; }

main {
  margin: 40px auto;
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#content {
  min-height: 400px;
  width: 910px; }

.block, .box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px -5px rgba(62, 57, 107, 0.07);
  margin-bottom: 50px;
  padding: 30px; }
  .block .inner, .box .inner {
    margin-bottom: 40px; }
    .block .inner .row, .box .inner .row {
      margin-bottom: 20px; }

aside {
  background-color: #ffeadf;
  font-size: 18px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  width: 250px; }

footer {
  background-color: #f6e0f9;
  font-size: 13px;
  height: 80px;
  line-height: 80px;
  text-align: center; }

/* Component */
h2 {
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase; }
  h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 4px;
    width: 70px;
    height: 3px;
    background-color: #16b1ec; }

h3 {
  font-size: 25px;
  margin-bottom: 15px; }

h4 {
  font-size: 18px;
  margin-bottom: 10px; }

.box.bdr-blue {
  border-bottom: 3px solid #51adf6; }

.box.bdr-red {
  border-bottom: 3px solid #f77066; }

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #e1ecf9;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  outline: none;
  transition: 0.3s all ease-out;
  vertical-align: middle;
  width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  height: 15px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 15px; }

select {
  color: #5e613f; }

::placeholder {
  color: #5e613f;
  opacity: 1; }

textarea {
  padding-top: 10px; }

.form-style > div {
  margin-bottom: 20px; }

.bdr-style input[type="text"],
.bdr-style input[type="email"],
.bdr-style input[type="tel"],
.bdr-style select,
.bdr-style textarea {
  border: 1px solid #e1ecf9;
  padding-left: 10px; }

button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out; }

.btn, .btn-lg {
  background-color: #2196f3;
  border-radius: 4px;
  color: #FFF;
  font-size: 13px;
  height: 30px;
  padding: 0 20px;
  text-align: center; }
  .btn.btn-red, .btn-red.btn-lg {
    background-color: #f44336; }
  .btn.btn-orange, .btn-orange.btn-lg {
    background-color: #ff9800; }
  .btn.btn-yellow, .btn-yellow.btn-lg {
    background-color: #ffeb3b; }
  .btn.btn-green, .btn-green.btn-lg {
    background-color: #4caf50; }
  .btn.btn-pink, .btn-pink.btn-lg {
    background-color: #e91e63; }
  .btn.btn-purple, .btn-purple.btn-lg {
    background-color: #9c27b0; }
  .btn.btn-black, .btn-black.btn-lg {
    background-color: #333; }
  .btn.btn-light-red, .btn-light-red.btn-lg {
    background-color: #f77066; }
  .btn.btn-light-orange, .btn-light-orange.btn-lg {
    background-color: #ffad33; }
  .btn.btn-light-yellow, .btn-light-yellow.btn-lg {
    background-color: #fff06e; }
  .btn.btn-light-green, .btn-light-green.btn-lg {
    background-color: #6ec071; }
  .btn.btn-light-pink, .btn-light-pink.btn-lg {
    background-color: #ee4c83; }
  .btn.btn-light-purple, .btn-light-purple.btn-lg {
    background-color: #bc37d3; }
  .btn.btn-light-black, .btn-light-black.btn-lg {
    background-color: #4d4d4d; }
  .btn:hover, .btn-lg:hover {
    opacity: 0.7; }

.btn-lg {
  font-size: 18px;
  height: 50px;
  width: 100%; }

.item-list {
  list-style-type: disc;
  padding-left: 20px; }
  .item-list ul {
    list-style-type: circle;
    padding-left: 20px; }

.box-list {
  display: flex;
  margin-top: 10px; }

.box-list li {
  background-color: #f9f8de;
  font-size: 18px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 287.5px; }

.box-list li:last-child {
  margin-right: 0; }

table {
  width: 100%; }
  table th,
  table td {
    padding: 8px 10px;
    vertical-align: top;
    word-wrap: break-word; }
  table td {
    border-bottom: 1px solid #e1ecf9; }
  table th {
    background-color: #edf6ff;
    color: #206ea2; }
  table.ver-style th {
    background: none;
    border-bottom: 1px solid #e1ecf9; }

/*.Page specific styles */
