// -----------------------------------------------------------------------------
// Home page style.
// -----------------------------------------------------------------------------

/* Base */
@import "../base/variables", "../base/mixins";
#admin {
  header {
    position: fixed;
    width: 100%;
    padding: 0 25px;
    display: flex;
    z-index: 1;
  }
  main {
    margin-top: 0;
    max-width: 100%;
    padding: 130px 0 0 310px;
  }
  #admin-content {
    width: calc(100% - 30px);
    min-height: 100vh;
    .btn-filter {
      margin-bottom: 10px;
      text-align: right;
      li {
        button {
          color: #333;
          &:hover,
          &.active {
            background-color: $blue;
            color: #fff !important;
          }
        }
      }
    }
    table.tbl-admin {
      background-color: #fff;
      width: 100%;
      margin-bottom: 24px;
      border-radius: 8px;
      border: 1px solid #333;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
      overflow: hidden;
      th {
        background-color: #efefef;
        font-weight: bold;
        padding: 15px 15px;
        em {
          color: #f00;
        }
      }
      td {
        padding: 10px 15px;
      }
      tr:nth-child(odd) td {
        background-color: #f8f8f8;
      }
      &.tbl-form {
        th {
          text-align: right;
        }
        tr:nth-child(odd) td {
          background: none;
        }
      }
    }
  }
  #admin-sidebar {
    position: fixed;
    left: 0;
    top: 80px;
    width: 280px;
    min-width: 280px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 50px 30px;
    z-index: 1;
    .mHead {
      margin-bottom: 30px;
      &::after {
        background: none;
      }
    }
    .nav-link {
      li {
        margin-bottom: 20px;
        i {
          margin-right: 5px;
        }
        a {
          color: #333;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active,
        &.active a {
          color: $blue;
        }
      }
    }
  }
  .wp8 {
    width: 8%;
  }
}
