// -----------------------------------------------------------------------------
// Home page style.
// -----------------------------------------------------------------------------

/* Base */
@import "../base/variables", "../base/mixins";
#admin {
  header {
    position: fixed;
    width: 100%;
    padding: 0 25px;
    display: flex;
    z-index: 1;
  }
  main {
    margin-top: 0;
    max-width: 100%;
    padding: 50px 60px 0 360px;
  }
  #admin-content {
    width: calc(100% - 30px);
    min-height: 100vh;
    .btn-filter {
      margin-bottom: 10px;
      text-align: right;
      li {
        button {
          color: #333;
          &.icon {
            color: #fff;
          }
          &:hover,
          &.active {
            background-color: $blue !important;
            color: #fff !important;
          }
        }
      }
    }
    table.tbl-admin {
      background-color: #fff;
      width: 100%;
      margin-bottom: 24px;
      border-radius: 8px;
      border: 1px solid #333;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
      overflow: hidden;
      th {
        background-color: #f8f7fa;
        font-weight: bold;
        padding: 15px 15px;
        em {
          color: #f00;
        }
      }
      td {
        padding: 15px;
        .label {
          width: 110px;
        }
        .tbl-inner {
          th,
          td {
            background: none !important;
            padding: 5px 0;
            vertical-align: top;
          }
          td {
            padding-left: 10px;
            .inline-list {
              margin-top: -2px;
              input[type="checkbox"] {
                margin-right: 3px;
              }
            }
          }
        }
        .fas {
          font-size: 18px;
        }
      }
      tr:nth-child(odd) td {
        background-color: #f8f8f8;
      }
      &.tbl-form {
        th {
          text-align: right;
        }
        tr:nth-child(odd) td {
          background: none;
        }
      }
    }
  }
  #admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    min-width: 280px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 100px 10px 50px;
    z-index: 1;
    h1 {
      background: linear-gradient(
          70deg,
          lighten(#8a74e8, 10%) 30%,
          rgba(0, 0, 0, 0) 30%
        ),
        linear-gradient(
          30deg,
          lighten(#fc8dff, 20%) 50%,
          lighten(#e88074, 20%) 50%
        );
      font-size: 34px;
      font-weight: 400;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      text-shadow: #333 0 1px 2px;
      width: 100%;
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
      span {
        display: inline-block;
        font-size: 50px;
      }
    }
    .mHead {
      font-size: 20px;
      margin-bottom: 30px;
      padding-left: 20px;
      &::after {
        background: none;
      }
    }
    .nav-link {
      li {
        i {
          margin-right: 10px;
        }
        a {
          color: #333;
          display: block;
          padding: 10px 20px;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active,
        &.active a {
          color: $blue;
        }
      }
    }
  }
  .wp8 {
    width: 8%;
  }
  .wp30 {
    width: 30%;
  }
}
