// -----------------------------------------------------------------------------
// Aside style
// -----------------------------------------------------------------------------
#sidebar {
    max-width: 300px;
    width: 25%;
     @include breakpoint(1024) {
        margin: 0 auto;
        max-width: 910px;
        width: 100%;
    }
    @include breakpoint(768) {
        .link-list {
            li {
                border-top: $bdr-gray;
                &:last-child {
                    border-bottom: $bdr-gray;
                }
                a {
                    display: block;
                    font-size: 18px;
                    padding: 10px 0;
                    width: 100%;
                }
            }
        }
    }
}