// -----------------------------------------------------------------------------
// Footer style
// -----------------------------------------------------------------------------
$h: 40px;
footer {
  background-color: $light-blue-xl;
  color: #333;
  font-size: $fontsize-s;
  height: $h;
  line-height: $h;
  text-align: center;
}
