// -----------------------------------------------------------------------------
// Footer style
// -----------------------------------------------------------------------------
$h: 80px;
footer {
    background-color: $light-blue-m;
    font-size: $fontsize-s;
    height: $h;
    line-height: $h;
    text-align: center;
}