// -----------------------------------------------------------------------------
// Header style
// -----------------------------------------------------------------------------
$h: 80px;
header {
    background-color: lighten($blue, 40%);
    border-bottom: 1px solid lighten($blue, 35%);
    font-size: $fontsize-m;
    height: $h;
    line-height: $h;
    padding: 0 20px;
    text-align: center;
}