// -----------------------------------------------------------------------------
// Button style
// -----------------------------------------------------------------------------
button {
    @include button;
}
.btn-group > div {
    margin-bottom: 10px;
}
.btn {
    border-radius: 4px;
    color: $color-white;
    font-size: $fontsize-s;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    &:hover {
        opacity: 0.7;
    }
    i {
        margin-right: 5px;
    }
}
a.btn {
    display: inline-block;
    height: 32px;
    vertical-align: top;
    transition: $transition-all;
    &:hover {
        color: #fff;
    }
}
.btn-lg,
a.btn-lg {
    @extend .btn;
    font-size: $fontsize-m;
    height: auto;
    padding: 10px 20px;
    max-width: 1024px;
    width: 100%;
    @include breakpoint(640) {
        max-width: 100%;
    };
}
.btn-icon {
    @extend .btn;
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: normal;
    height: $x30;
    width: $x30;
    i {
        margin-right: 0;
    }
    &.x20 {
        font-size: $fontsize-ss;
        height: $x20;
        width: $x20;
    }
    &.x40 {
        font-size: $fontsize-m;
        height: $x40;
        width: $x40;
    }
    &.x50 {
        font-size: $fontsize-b;
        height: $x50;
        width: $x50;
    }
}