// -----------------------------------------------------------------------------
// Headline style
// -----------------------------------------------------------------------------
// Item List
.item-list {
    list-style-type: disc;
    padding-left: 20px;
    ul {
        list-style-type: circle;
        padding-left: 20px;
    }
}

// Link List
.link-list {
    li {
        margin-bottom: 5px;
    }
}

// Box List
.box-list {
    display: flex;
    margin-top: 10px;
}
.box-list li {
    background-color: $light-yellow-m;
    font-size: $fontsize-m;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 287.5px;
}
.box-list li:last-child {
    margin-right: 0;
}