// -----------------------------------------------------------------------------
// Table style
// -----------------------------------------------------------------------------
$t-th-color: #206ea2;
$t-td-color: $color-default;
$t-padding-v: 8px;
$t-padding-h: 10px;
$t-align: top;
$t-width: 850px;

.table-style {
    width: 100%;
    table {
        width: 100%;
        th, td {
            padding: $t-padding-v $t-padding-h;
            vertical-align: $t-align;
            word-wrap: break-word;
        }
        td {
            border-bottom: $bdr-table;
        }
        th {
            background-color: $light-blue-xl;
            color: $t-th-color;
        }
        &.ver-style th {
            background: none;
            border-bottom: $bdr-table;
        }
        @include breakpoint(1024) {
            width: $t-width;
        };
    }
    @include breakpoint(1024) {
        overflow-x: auto;
    };
}
.table-style-border {
    @extend .table-style;
    table {
        th, td {
            border: $bdr-table;
        }
        &.ver-style th {
            background-color: $light-blue-xl;
        }
    }
}