// -----------------------------------------------------------------------------
// Modules
// -----------------------------------------------------------------------------
.blue {
  color: $blue !important;
}
.red {
  color: $red !important;
}
.orange {
  color: $orange !important;
}
.yellow {
  color: $yellow !important;
}
.green {
  color: $green !important;
}
.pink {
  color: $pink !important;
}
.purple {
  color: $purple !important;
}
.black {
  color: $black !important;
}
.light-blue {
  color: $light-blue !important;
}
.light-red {
  color: $light-red !important;
}
.light-orange {
  color: $light-orange !important;
}
.light-yellow {
  color: $light-yellow !important;
}
.light-green {
  color: $light-green !important;
}
.light-pink {
  color: $light-pink !important;
}
.light-purple {
  color: $light-purple !important;
}
.light-black {
  color: $light-black !important;
}
.light-blue-xl {
  color: $light-blue-xl !important;
}
.light-red-xl {
  color: $light-red-xl !important;
}
.light-orange-xl {
  color: $light-orange-xl !important;
}
.light-yellow-xl {
  color: $light-yellow-xl !important;
}
.light-green-xl {
  color: $light-green-xl !important;
}
.light-pink-xl {
  color: $light-pink-xl !important;
}
.light-purple-xl {
  color: $light-purple-xl !important;
}
.light-black-xl {
  color: $light-black-xl !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-red {
  background-color: $red !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-purple {
  background-color: $purple !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-gray1 {
  background-color: $gray1 !important;
}
.bg-gray3 {
  background-color: $gray3 !important;
}
.bg-gray6 {
  background-color: $gray6 !important;
}
.bg-gray9 {
  background-color: $gray9 !important;
}
.bg-grayc {
  background-color: $grayc !important;
}
.bg-grayd {
  background-color: $grayd !important;
}
.bg-graye {
  background-color: $graye !important;
  color: $color-default !important;
}
.bg-white {
  background-color: $white;
  color: $color-default !important;
  border: $bdr-gray;
  &:hover {
    border-color: $color-default !important;
  }
}
.bg-light-blue {
  background-color: $light-blue !important;
}
.bg-light-red {
  background-color: $light-red !important;
}
.bg-light-orange {
  background-color: $light-orange !important;
}
.bg-light-yellow {
  background-color: $light-yellow !important;
}
.bg-light-green {
  background-color: $light-green !important;
}
.bg-light-pink {
  background-color: $light-pink !important;
}
.bg-light-purple {
  background-color: $light-purple !important;
}
.bg-light-black {
  background-color: $light-black !important;
}
.bg-light-gray1 {
  background-color: $gray1 !important;
}
.bg-light-gray3 {
  background-color: $gray3 !important;
}
.bg-light-gray6 {
  background-color: $gray6 !important;
}
.bg-light-gray9 {
  background-color: $gray9 !important;
}
.bg-light-grayc {
  background-color: $grayc !important;
}
.bg-light-grayd {
  background-color: $grayd !important;
}
.bg-light-graye {
  background-color: $graye !important;
  color: $color-default !important;
}
.bg-light-blue-xl {
  background-color: $light-blue-xl !important;
}
.bg-light-red-xl {
  background-color: $light-red-xl !important;
}
.bg-light-orange-xl {
  background-color: $light-orange-xl !important;
}
.bg-light-yellow-xl {
  background-color: $light-yellow-xl !important;
}
.bg-light-green-xl {
  background-color: $light-green-xl !important;
}
.bg-light-pink-xl {
  background-color: $light-pink-xl !important;
}
.bg-light-purple-xl {
  background-color: $light-purple-xl !important;
}
.bg-light-black-xl {
  background-color: $light-black-xl !important;
}
.bdr-white {
  border-color: $white !important;
}
.bdr-blue {
  border-color: $blue !important;
}
.bdr-red {
  border-color: $red !important;
}
.bdr-green {
  border-color: $green !important;
}
.bdr-yellow {
  border-color: $yellow !important;
}
.bdr-orange {
  border-color: $orange !important;
}
.bdr-pink {
  border-color: $pink !important;
}
.bdr-purple {
  border-color: $purple !important;
}
.bdr-black {
  border-color: $black !important;
}
.bdr-light-white {
  border-color: $light-white !important;
}
.bdr-light-blue {
  border-color: $light-blue !important;
}
.bdr-light-red {
  border-color: $light-red !important;
}
.bdr-light-green {
  border-color: $light-green !important;
}
.bdr-light-yellow {
  border-color: $light-yellow !important;
}
.bdr-light-orange {
  border-color: $light-orange !important;
}
.bdr-light-pink {
  border-color: $light-pink !important;
}
.bdr-light-purple {
  border-color: $light-purple !important;
}
.bdr-light-black {
  border-color: $light-black !important;
}
.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}
.align-r {
  text-align: right;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
@for $i from 1 through 10 {
  .mt#{$i}0 {
    margin-top: $i * 10px;
  }
  .mr#{$i}0 {
    margin-right: $i * 10px;
  }
  .mb#{$i}0 {
    margin-bottom: $i * 10px;
  }
  .ml#{$i}0 {
    margin-left: $i * 10px;
  }
  .w#{$i}0 {
    width: $i * 10px;
  }
  .w#{$i*4}0 {
    width: $i * 40px !important;
  }
}
@for $i from 1 through 5 {
  .wp#{$i * 5} {
    width: $i * 5%;
  }
}
hr {
  background-color: #ddd;
  border: none;
  clear: both;
  display: block;
  height: 1px;
  margin-bottom: 30px;
  box-sizing: content-box;
  &.opacity-divide {
    background-color: inherit;
    background-image: -webkit-linear-gradient(
      left,
      transparent,
      rgba(0, 0, 0, 0.1),
      transparent
    );
    background-image: -o-linear-gradient(
      left,
      transparent,
      rgba(0, 0, 0, 0.1),
      transparent
    );
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.1),
      transparent
    );
  }
  &.space-m {
    margin: $x30 0;
  }
  &.space-l {
    margin: $x50 0;
  }
  &.space-xl {
    margin: $x70 0;
  }
  &.space-xxl {
    margin: $x100 0;
  }
}
